.header{
  clear: both;
  /*background-image: url("banner.png"), url("banner2.png");
  background-position: left top, right top;
  background-repeat: no-repeat;*/
  width: 90%;
  height: 75px;
  margin: auto;
}
