body {
	margin: 0;
}

#game {
	position: absolute;
	left: 0;
	top: 0;
	width: 1000px;
	height: 1000px;
	background-color: #202022;
	font-size: 40px;
}

#game .gameScreen{
	background-color: #DBDBD9;
	text-align: center;
	padding-top: 1em;
	padding-left: 1em;
	float: left
}

#game .scoring{
	text-align: center;
	color: #5AFE3D;
	padding-top: 1em;
	padding-left: 1em;
}

#game .screen {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}

#game .screen.active {
	display: block;
}

#main-menu {
	padding-top: 1em;
	cursor: pointer;
	font-size: 0.75em;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li {
	margin: 0.8em 0;
}

ul.menu li button {
	font-family: Arial, sans-serif;
	font-size: 0.6em;
	color: #5AFE3D;
	background: #BF00FE;
	border: 0.1em solid;
	border-radius: 0.5em;
}

ul.menu li button:hover {
	background: #2E2EFE;
}

ul.menu li button:active {
	color: #CECEF6;
	background: rgb(0, 0, 0);
}

#game div h1 {
	font-size: 1em;
	text-align: center;
}

#high-scores{
	color: #BF00FE;
	padding-top: 2em;;
}

#high-scores #bbHighScores{
	color: #5AFE3D;
	text-align: center;
	padding: 0;
	margin: 0;
}

#game div p {
	font-size: 0.5em;
}

#about p {
	text-align: center;
	color: #5AFE3D;
}
#about h1{
	color: #BF00FE;
}
#help h1{
	color: #BF00FE;
}
#help p{
	color: #5AFE3D;
	padding-left: 1em;
}
